body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 5.6rem;
    /* 100% == 16px == 1em; */
    margin: 50px auto 0 auto;
    color: #66BFBF;
    font-family: 'Dancing Script', cursive;
    line-height: 1;
}

h2 {
    font-size: 2.5rem;
    color: #66BFBF;
}

h3 {
    color: #11999E;
}

a {
    color: #11999E;
}

.pImg {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.top-container {
    background-color: #eaffff;
    position: relative;
    padding-top: 100px;
}

.middle-container {}

.bottom-container {}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
}

.subtitle {
    font-weight: normal;
}